Lenguaje de marcas/xml/ExamenDTD/Ejercicio2_Inventario.dtd

<!ELEMENT entrega (lote+)>
<!ELEMENT lote (pale)>
<!ELEMENT pale (numcajas,contenido,peso,formamanipulacion)>
<!ELEMENT contenido (nombrecomponente,procedencia?,numserie,peso,unidades)>
<!ELEMENT procedencia (pais+)>

<!ELEMENT numcajas (#PCDATA)>
<!ELEMENT nombrecomponente (#PCDATA)>
<!ELEMENT numserie (#PCDATA)>
<!ELEMENT peso (#PCDATA)>
<!ELEMENT unidades (#PCDATA)>
<!ELEMENT formamanipulacion (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
