Lenguaje de marcas/xml/Ejercicios2Trim/ainhoa.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="expedientes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="expediente" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulacion" type="xs:string"/>
                            <xs:element name="estudiante" type="xs:string"/>
                            <xs:element name="modulos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="modulo" type="xs:string" maxOccurs="unbounded"/>
                                        <xs:complexType>    
                                            <xs:attribute name="nombre" type="xs:string"/>
                                            <xs:attribute name="aprobado" type="xs:boolean"/>
                                            <xs:attribute name="curso" type="xs:string"/>
                                        </xs:complexType>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>