Lenguaje de marcas/xml/Ejercicios2Trim/dtd&xms.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="cine">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="pelicula" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titulo" type="xs:string"/>
                        <xs:element name="director" type="xs:string"/>
                        <xs:element name="reparto" type="xs:string"/>
                        <xs:element name="estreno" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>